/* Elements */
.background {
    position: absolute;
    background: rgba(255,255,255,0.45);
    z-index: -1;
    transition: background-color .25s ease-in-out;
}
div:hover > .background {
    background: rgba(255,255,255,0.85);
}

.highlight {
    font-weight: 600;
}
.no-load {
    background-image: none !important;
}
