// Fonts
$font-color: #202F31;
$font-color-negative: #ffffff;

// body
$background-color: #f2f2f2;
$background-color-highlight: #ffffff;

// Color scheme
$primary-color: $brand-color;
$secondary-color-highlight: #90d2dc;
$secondary-color-info: #ffe3a6;