/* Shim */
*, *:before, *:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
 

/* Typography */
body {
    color: #1f1f1f;
    line-height: 1.8;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

a {
    color: #1f1f1f;
    text-decoration: none;
    font-weight: 600;
    padding: 3px 5px;
    margin: -3px -5px;
    -webkit-transition: background-color .25s ease-in-out;
}
a:hover {
    background-color: #ffec0a;
}

/* Elements */
.background {
    position: absolute;
    background: rgba(255,255,255,0.65);
    z-index: -1;
    -webkit-transition: background-color .25s ease-in-out;
}
.highlight {
    font-weight: 600;
}
.no-load {
    background-image: none !important;
}

/* Logo */
.logo {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    text-align: right;
}
.logo__text {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
}
.logo__background {
    width: 120%;
    height: 130%;
    top: -20%;
    left: 0;
    -webkit-transform: rotate(-15deg);
}
.logo:hover .logo__background {
    background: rgba(255,255,255,0.85);
}

/* Menu */
.menu {
    position: fixed;
    top: 20%;
    left: 0;
}
.menu ul {
    margin: 0;
    padding: 20px;
    width: 100%;
}
.menu li {
    list-style: none;
}
.menu a {
    text-transform: uppercase;
}
.menu__background {
    top: -20%;
    left: -25%;
    height: 130%;
    width: 110%;
    -webkit-transform: rotate(35deg);
}
.menu:hover .menu__background {
    background: rgba(255,255,255,0.85);
}
@media all and (max-width: 400px) {
    .menu {
        top: 40%;
    }
}

/* E-mail */
.email {
    position: fixed;
    bottom: 0%;
    right: 0%;
    display: block;
    padding: 20px;
    margin: 0;
    cursor: pointer;
    text-transform: uppercase;
}
.email:hover {
    background-color: transparent;
}
.email__background {
    position: absolute;
    z-index: -1;
    -webkit-transition: background-color .25s ease-in-out;
    width: 120%;
    height: 150%;
    top: -10%;
    left: -15%;
    background-color: rgba(255,236,10,0.85);
    -webkit-transform: rotate(-20deg);
}
.email:hover .email__background {
    background-color: rgba(255,236,10,1);
}

/* Sections */
.section {
    background: no-repeat center center;
    background-size: cover;
}

/* Frontpage */
.frontpage--slide1 {
    background-image: url(/img/frontpage/slide1-400x267.jpg);
}
.frontpage--slide2 {
    background-image: url(/img/frontpage/slide2-400x267.jpg);
}
.frontpage--slide3 {
    background-image: url(/img/frontpage/slide3-400x267.jpg);
}

@media all and (min-width: 600px), all and (min-height: 401px) {
    .frontpage--slide1 {
        background-image: url(/img/frontpage/slide1-600x401.jpg);
    }
    .frontpage--slide2 {
        background-image: url(/img/frontpage/slide2-600x401.jpg);
    }
    .frontpage--slide3 {
        background-image: url(/img/frontpage/slide3-600x401.jpg);
    }
}

@media all and (min-width: 800px), all and (min-height: 534px) {
    .frontpage--slide1 {
        background-image: url(/img/frontpage/slide1-800x534.jpg);
    }
    .frontpage--slide2 {
        background-image: url(/img/frontpage/slide2-800x534.jpg);
    }
    .frontpage--slide3 {
        background-image: url(/img/frontpage/slide3-800x534.jpg);
    }
}

@media all and (min-width: 1000px), all and (min-height: 667px) {
    .frontpage--slide1 {
        background-image: url(/img/frontpage/slide1-1000x667.jpg);
    }
    .frontpage--slide2 {
        background-image: url(/img/frontpage/slide2-1000x667.jpg);
    }
    .frontpage--slide3 {
        background-image: url(/img/frontpage/slide3-1000x667.jpg);
    }
}

@media all and (min-width: 1200px), all and (min-height: 800px) {
    .frontpage--slide1 {
        background-image: url(/img/frontpage/slide1-1200x800.jpg);
    }
    .frontpage--slide2 {
        background-image: url(/img/frontpage/slide2-1200x800.jpg);
    }
    .frontpage--slide3 {
        background-image: url(/img/frontpage/slide3-1200x800.jpg);
    }
}