<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Arkitekttegnestuen Merete Nielsen</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

    <a href="/" class="logo no-hover-effect">
	<div class="logo__text"><span class="highlight">Arkitekttegnestuen</span><br>Merete Nielsen</div>
        <div class="background logo__background"></div>
    </a>

    <div class="menu">
        <ul>
            <li><a href="/projekter/">Projekter</a></li>
            <li><a href="/proces/">Proces</a></li>
            <li><a href="/profil/">Profil</a></li>
            <li><a href="/om/">Om</a></li>
        </ul>
        <div class="background menu__background"></div>
    </div>

    <a class="email" href="mailto:mn@arkitektmn.dk">
        Send e-mail
        <div class="email__background"></div>
    </a>

    <% _.forEach(sections, function(section, i) { %>
        <% if (section.slides) { %>
            <div class="section">
                <% if (section.body) { %>
                    <div class="section__body">
                        <%= section.body %>
                        <div class="background section__body__background"></div>
                    </div>
                <% } %>
                <% _.forEach(section.slides, function(slide, j) { %>
                    <div class="slide <%= slide.class %><% if (i >= 2 || i === 1 && j > 0 || i === 0 && j > 1) { %> no-load<% } %>"></div>
                <% }); %>
            </div>
        <% } else { %>
            <div class="section <%= section.class %><% if (i >=2) { %> no-load<% } %>">
                <% if (section.body) { %>
                    <div class="section__body">
                        <%= section.body %>
                        <div class="background section__body__background"></div>
                    </div>
                <% } %>
            </div>
        <% } %>
    <% }); %>

    <script src="/js/main.js"></script>

    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
</body>
</html>
